$search-padding-left:          3em !default;
$search-padding-left-portable: 1em !default;
$search-height:                3em !default;

$search-form-input-font-size:      14px !default;
$search-form-input-width:          300px !default;
$search-form-input-width-on-small: 100px !default;
$search-form-icon-ml-portable:     75px !default;

$icon-position-top: 50% !default;
$icon-margin-left:  0.5em !default;
$icon-margin-top:   0.7em !default;
