$search-padding-left: 3em;
$search-padding-left-portable: 1em;
$search-height: 3em;

$search-form-input-font-size: 14px;
$search-form-input-width: 300px;
$search-form-input-width-on-small: 100px;
$search-form-icon-ml-portable:75px;

$icon-position-top: 50%;
$icon-margin-left: 0.5em;
$icon-margin-top: 0.7em;
