form.search-form{
  height: 100%;
  .input-div{
    height: 100%;
    white-space: nowrap;
    position: relative;
  }

  .input-div input.search{
    border: none;
    float: left;
    padding-left: 3em;
    height: $search-height;
  }

  .input-div .icon{
    position: absolute;
    top: $icon-position-top;
    margin-left: $icon-margin-left;
    margin-top: $icon-margin-top;
    z-index: 1;
    color: black;
    font-size: $search-form-input-font-size;
  }

  input{
    width: $search-form-input-width;

  }
}

@include media-query(portable) {
  form.search-form{
    input{
      width: $search-form-input-width-on-small;
    }

    text-align: left;
    .input-div .icon{
      margin-left: $search-form-icon-ml-portable;
    }

    .input-div input.search{
      padding-left: $search-padding-left-portable;
    }

    &:hover{
      .icon {
        display: none;
      }
    }
  }
}
